body {
  background-color:#e5d399;
  margin:30px 25% 0px 30%;
}

.container {
  position: relative;
  max-width: 600px;
  height: 500px;
  padding: 10px;
}

.container .content {
  margin-top: 2rem;
}

.container .contentTok {
  display: block;
}
.container .contentEng {
  display: none;
}

.langswitch:checked ~ .content.contentTok {
  display: none;
}

.langswitch:checked ~ .content.contentEng {
  display: block;
}

.hn {
  color: red;
}
